.header{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    background-color: #4d97ff;
    width: 90%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

.logo{
    width: 140px;
    height: 40px;
}

.search{
    border-radius: 15px;
    width: 200px;
    height: 25px;
    display: flex;
    background-color: #7eb0f7;
    align-content: center;
    input{
        outline: none;
        border: none;
        width: 100%;
        height: 100%;
        background-color: transparent;
        text-decoration: bold;
        padding-left: 5px;
    }
    img{
        width: 15px;
        height: 15px;
        padding-top: 5px;
        padding-left: 5px;
    }
}

    .menus{
        display: flex;
        gap: 20px;
        color: white;
        text-shadow: -1px 1px 0 #ff9500, 1px 1px 0 #ff9500, 2px -2px 0 #ff9500;
        cursor: pointer;
}